.section-head
	.section-head__icon.cognition-icon
	.section-head__headline.cognition__headline Уровень владения JavaScript
.section-body
	.cognition-lane
			input(type="hidden" value="Пишу сложный JS с нуля" name="jsskill").cognition-lane__input
			ul.cognition-lane__list
				li.cognition-lane__item
					a(href="#" data-level="0").cognition-lane__anchor Не владею
				li.cognition-lane__item
					a(href="#" data-level="1").cognition-lane__anchor Использую готовые решения
				li.cognition-lane__item
					a(href="#" data-level="2").cognition-lane__anchor Использую готовые решения и умею их переделывать
				li.cognition-lane__item
					a(href="#" data-level="3").cognition-lane__anchor.cognition-lane__anchor_active Пишу сложный JS с нуля
			.cognition-lane__progress
				.cognition-lane__phantom.cognition-lane__phantom_animate
				.cognition-lane__pointer.cognition-lane__pointer_animate
