.section-head
	.section-head__icon.about-icon
	.section-head__headline.about__headline Расскажите о себе
	.about__description
		| Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.

.section-body
	textarea(name="aboutme" placeholder="Понравилась тем, что...").textarea.about__textarea
		|	Ваша вакасия понравилась мне возможностью развития в интересном для меня направлении.
	
	
