.about
	&-icon
		sprite $about
	&__description
		width 500px
		margin 0 auto 37px
		line-height 24px
		@media(max-width 560px)
			width 100%
	&__textarea
		width 520px
		height 180px
		margin-bottom 69px
		@media(max-width 560px)
			width 100%
.about
	.about__headline
		margin-bottom 14px
