.interview
	.interview__header
		include ../header/header
	h1.interview__headline Анкета
	form
		.section#info
			include ../info/info
		.section#experience
			include ../experience/experience
		.section#js
			include ../cognition/cognition
		.section#about
			include ../about/about
		button(type="submit").button.interview__button Готово
