.header
	.header-nav__toggle
	ul.header-nav
		li.header-nav__item
			a(href="#info").header-nav__link.header-nav__link_active Личная информация
		li.header-nav__item
			a(href="#experience").header-nav__link Опыт
		li.header-nav__item
			a(href="#js").header-nav__link JavaScript
		li.header-nav__item
			a(href="#about").header-nav__link О себе
