.experience
	&-icon
		sprite $experience
	&-list
		display flex
		margin-bottom 90px
		@media(max-width 768px)
			display block
			width 180px
			margin 0 auto 90px
		&__section
			flex-basis 33.3333333%
	&__checkbox
		text-align left
		margin-bottom 11px
