mixin checkbox(name, val)
	.checkbox.experience__checkbox
		input(type="checkbox" name=name id=name)&attributes(attributes).checkbox__input
		label(for=name).checkbox__label= val

.section-head
	.section-head__icon.experience-icon
	.section-head__headline Расскажите о своем опыте
.section-body
	.experience-list
		.experience-list__section
			+checkbox('methodology', 'БЭМ/OOCSS')
			+checkbox('preprocessor', 'Stylus/LESS/SASS')
			+checkbox('svg', 'Работаю с SVG')
		.experience-list__section
			+checkbox('semantic', 'Верстаю семантично')
			+checkbox('esnext', 'ES2015/ES2016')
			+checkbox('bundler', 'Gulp/GRUNT')
		.experience-list__section
			+checkbox('webpack', 'Webpack')
			+checkbox('jq', 'jQuery')
			+checkbox('git', 'Ипользую Git')
